.w-full{
    width: 100%;
}

.flex{
    display: flex;
}

.logo-img{
    height: 50px;
    margin: 10px;
}

.flex-row{
    flex-flow: row;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
    font-size: large;
}